@use './reset.scss';
@use './fonts.scss';
@use './variables.scss';

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-blue);
  font: var(--font-m);
  color: var(--color-dark-blue);
}
