* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select {
	margin: 0;
	font: inherit;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

button {
	cursor: pointer;
	background: none;
	border: none;
}

textarea:focus,
input:focus,
button:focus,
select:focus,
textarea:focus,
a:focus {
	outline: none;
}
