.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--color-light-blue);
  padding: 10px 15px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
}

@media screen and (max-width: 768px) {
  .item {
    padding: 5px 10px;
  }
}
